version: '3.8'

services:

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mydb
      PMA_PORT: 3306
    ports:
      - "8081:80"

  mysql-exporter:
    image: prom/mysqld-exporter
    container_name: mysql-exporter
    restart: always
    environment:
      DATA_SOURCE_NAME: "root:sunny@(mydb:3306)/"
    ports:
      - "9104:9104"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
